* {
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Permanent Marker';
}

h3, p {
    font-family: Rock Salt;
}

body {
    font-size: 16px;
    margin: auto;
    background-image: url(../steve-sharp-VvjpvlSMS5g-unsplash.jpg);
}

header, footer, .contentnav, .logo, ul, nav ul {
    display: flex;
    width: 100%;
}

header {
    position: fixed;
    height: 4rem;
    z-index: 2;
}

.contentnav, nav, ul li, .logo {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.contentnav {
    background-color: #f1efe3;
    color: #94938f;
    font-family: 'Permanent Marker';
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #94938f;
}

a:hover {
    color: #94938f;
}
@media (hover: hover) {
    a:hover {
        color: black;
    }
}


.logo {
    font-size: 2rem;
}



main {
    padding-top: 4rem;
}

.mission {
    display: flex;
    flex-direction: column;
    height: 20rem;
    text-align: center;
    justify-content: center;   
    color: #f1efe3;
}

.mission h1 {
    font-size: 3rem;
}

.mission h2 {
    padding-top: 1rem;
    font-size: 1.7rem;
}

.portfolio {
    display: flex;
    padding-top: 10rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.portfolio p {
    font-size: 1.7rem;
    font-family: 'Rock Salt';
    color: #fdfaf0;
    backdrop-filter: blur(15px);
}

.portfimage img {
    display: inline;
    justify-content: space-between;
    margin: 0 30px;
    width: 25%;
    padding-top: 40px;
    transition: transform .2s ease-in-out;
    cursor: zoom-in;
}

.portfimage img:hover {
    transform: scale(1.5);
}

#team h2 {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    font-size: 1.7rem;
    color: #f1efe3;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}

.teammate {
    padding: 10px;
    flex-basis: 400px;
}

.teammate h3 {
    font-size: 1.5rem;
    color: #f1efe3;
    padding-top: 5px;
}

.teammate p {
    font-size: 1.2rem;
    color: #f1efe3;
    padding-top: 10px;
}

.teammate img {
    width: 70%;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

.copyright {
    color: #f1efe3;
}

.contact {
    color: #f1efe3;
}